.com_nv h1 {
    font-size: 18px;
    float: left;
}

.com_nv ul {
    float: left;
    list-style: none;
}

.com_nv li {
    float: left;
}

.com_nv a {
    font-size: 14px;
}

.hd_header {
    margin: 50px 0;
}

.hd_header_title {
    color: #A9836A;
    font-size: 16px;
    font-weight: 450;
}

.hd_header_sub {
    color: #666;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0;
}

.hd_list {
    margin-left: -10%
}

.hd_list_item {
    margin: 20px 0;
    width: 35%;
    padding-left: 9%;
    display: inline-block;
    vertical-align: middle;
}

.hd_list_img img{
    display: block;
}

.hd_list_info {
    position: relative;
}

.hd_list_info_title {
    color: #A9836A;
    font-size: 16px;
}

.hd_list_info_sub {
    color: #666;
    font-size: 14px;
}

.hd_list_info_btn {
    /*버튼 위치 옵션*/
    position: absolute;
    top: 0;
    right: 12px;
    /*색상, 테두리 옵션*/
    border: 1px solid #A9836A;
    color: #A9836A;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
}