/* 네비게이션 css *********************************************/
.com_nv h1 {
    font-size: 18px;
    float: left;
    margin: 10px 20px 0;
    line-height: 50px;
    color: #333;
}

.com_nv ul {
    float: left;
    list-style-type: none;
    text-align: center;
    margin: 25px 0 0 0;
}

.com_nv li {
    float: left;
    padding-right: 35px;
}

.com_nv a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

.com_nv li.on a {
    color: #9c836a;
}

/* 컨텐츠 헤더 *********************************************/
.df_header {
    margin: 50px 0;
}

.df_header_title {
    color: #A9836A;
    font-size: 16px;
    font-weight: 600;
}

.df_header_sub {
    color: #666;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0;
}

/* list css *********************************************/
.df_list {
    margin-left: -10%
}

.df_list_item {
    margin: 20px 0;
    width: 35%;
    padding-left: 9%;
    display: inline-block;
    vertical-align: middle;
}

.df_list_img img{
    display: block;
}

.df_list_info {
    position: relative;
}

.df_list_info_title {
    color: #A9836A;
    font-size: 16px;
}

.df_list_info_sub {
    color: #666;
    font-size: 14px;
}

.df_list_info_btn {
    /*버튼 위치 옵션*/
    position: absolute;
    top: 0;
    right: 12px;
    /*색상, 테두리 옵션*/
    border: 1px solid #A9836A;
    color: #A9836A;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
}

.df_list_info_btn:hover {
    color: #fff;
    border-color: #8a7057;
    background: #8a7057;
    transition: all 0.5s ease;
}